@charset "UTF-8";
html,body{
  padding:0;
  margin:0;
  width: 100%;
  font-size: 12px;

}
header{
  position: fixed;
  height:80px;
  width:100%;
  display:flex;
  justify-content: space-between;
  padding:0 4%;
  margin: 0 auto;
  align-items: center;
  top:0;
  z-index:5;
  background-color: white;
}
.main-visual{
  width:100%;
  height:665px;
  margin-bottom: 120px;
  margin-top: 80px;
}
.main-visual video{
  width:100%;
}
.wrapper{
  width:100%;
}
.wrapper h1{
  margin-bottom:50px;
}
#pickup{
  text-align:center;
  margin-bottom:115px;

}
#pickup section{
  display:flex;
}
#feature{
  width:100%;
  padding:0 2%;
  margin:0 auto;
}
#feature h1{
  text-align: center;
}
#feature img{
  width:100%;
  margin-bottom: 35px;
}
#feature-title{
  margin-bottom: 30px;
}
#feature h5{
  margin-bottom:30px;
}
#feature-date{
  margin-bottom: 35px;
  text-align:right;
}
.row div{
  margin-bottom:25px;
}
#contact{
  background-color: black;
  color:white;
}
#contact h1{
  text-align: center;
  padding-top:50px;
}
#contact-content{
  display:flex;
  justify-content: space-between;
  padding:0 4%;
  margin:0 auto;
}
#contact-content section{
  width:40%;
}
form button{
  padding:0px;
}
form button input:hover{
  background-color: white;
  color:black;
}
form button input{
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
  padding: 12px 0;
}
@media (max-width:500px){
  #contact-content{
    flex-direction: column;
    padding:0 4%;
    margin: 0 auto;
    height:auto;
    align-items: center;
  }
  #contact-content section{
    width:80%;
  }
}
footer{
  background-color:black;
  color:white;
  text-align: center;
}

/* カルーセル */

.slick-flame{

  padding-left: 0;
}
.slide{
  padding:0 20%;
  margin:0 auto 80px auto;
  height:auto;
  width:auto;
}





  /*--------画像サイズ調整---------*/
.pickup-img{
	width:100%;
  width:200px;
  height:200px;
  margin:0 auto;
}

/*-----------height調整----------*/
.slick-slide{
	height:auto!important;
}
/*------------------------------*/


/*-----------矢印表示----------*/

.slide{
  position: relative;

}


/* さいどばー */


body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
main {
  height: 100%;
  min-height: 100vh;
  padding: 0 ;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
/*   transform: translateX(0);
  transition: transform .5s;
 */}
/* .menu-trigger.active {
  transform: translateX(-250px);
}
 */.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: black;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color:black;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}
nav li {
  color: #fff;
  padding: 10px 0;
}


.menu-trigger {
  transform: translateX(0);
}
.menu-trigger.active {
  transform: translateX(-250px);
}
#sidemenu-navi li{
  border-bottom:2px solid white;
  padding:15px 15px 15px 0;
}
#sidemenu-navi ul{
  margin-bottom:40px;
}
